{% extends "base.html" %}
{% set titulo_pagina = "Identifique-se" %}
{% block conteudo %}
<form action="/login" method="post">
    <div class="form-floating mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-floating mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}