
    <header class="text-bg-dark p-2">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <i class="bi bi-boxes"></i>
                    Galeria de Produtos
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="/">Home</a>
                        <a class="nav-link" href="/produtos">Produtos</a>
                        <a class="nav-link" href="/sobre">Sobre</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    